/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/sass/components/color";

$primary-color: color("light-blue", "lighten-1") !default;
//$secondary-color: color("yellow", "base") !default;
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
$badge-height: 18px;
$sidenav-item-height: auto;
@import "~materialize-css/sass/materialize";
