.progress-layer {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  background-color: #50000000;
  width: 100%;
  height: 100%;
}

.progress-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  background-color: white;
}

.preloader-wrapper {
  margin: 0 auto;
}

.progress-text {
  font-family: Arial, serif;
  font-size: 14px;
  text-align: center;
}
