<div class="mn-content fixed-sidebar" materialize [ngClass]="{'fixed-sidebar-on-hidden': pageStatus.menuStatus.status === 'close'}">
  <header class="mn-header navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper row">
        <section class="material-design-hamburger navigation-toggle">
          <a href="javascript:void(0)" data-activates="slide-out" class="show-on-large material-design-hamburger__icon"
             (click)="onMenuClick()">
            <span class="material-design-hamburger__layer" [ngClass]="pageStatus.menuStatus.cls"></span>
          </a>
        </section>
        <div class="col s3">
          <span class="menu-text">菜单</span>
        </div>
        <div class="header-title left col s6">
          <span class="chapter-title">统计系统</span>
        </div>
        <ul class="right col s9 m3 nav-right-menu">
          <li>
            <a href="javascript:void(0)" data-activates="chat-sidebar" class="chat-button show-on-large">
              <i class="material-icons">more_vert</i>
            </a>
          </li>
          <li class="hide-on-small-and-down">
            <a href="javascript:void(0)" data-activates="dropdown1"
               class="dropdown-button dropdown-right show-on-large">
              <i class="material-icons">notifications_none</i>
              <span class="badge">4</span>
            </a>
          </li>
          <li class="hide-on-med-and-up">
            <a href="javascript:void(0)" class="search-toggle">
              <i class="material-icons">search</i>
            </a>
          </li>
        </ul>
        <ul id="dropdown1" class="dropdown-content notifications-dropdown">
          <li class="notificatoins-dropdown-container">
            <ul>
              <li class="notification-drop-title">Today</li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle cyan"><i class="material-icons">done</i></div>
                    <div class="notification-text"><p><b>Alan Grey</b> uploaded new theme</p><span>7 min ago</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle deep-purple"><i class="material-icons">cached</i></div>
                    <div class="notification-text"><p><b>Tom</b> updated status</p><span>14 min ago</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle red"><i class="material-icons">delete</i></div>
                    <div class="notification-text"><p><b>Amily Lee</b> deleted account</p><span>28 min ago</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle cyan"><i class="material-icons">person_add</i></div>
                    <div class="notification-text"><p><b>Tom Simpson</b> registered</p><span>2 hrs ago</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle green"><i class="material-icons">file_upload</i></div>
                    <div class="notification-text"><p>Finished uploading files</p><span>4 hrs ago</span></div>
                  </div>
                </a>
              </li>
              <li class="notification-drop-title">Yestarday</li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle green"><i class="material-icons">security</i></div>
                    <div class="notification-text"><p>Security issues fixed</p><span>16 hrs ago</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle indigo"><i class="material-icons">file_download</i></div>
                    <div class="notification-text"><p>Finished downloading files</p><span>22 hrs ago</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#!">
                  <div class="notification">
                    <div class="notification-icon circle cyan"><i class="material-icons">code</i></div>
                    <div class="notification-text"><p>Code changes were saved</p><span>1 day ago</span></div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="mn-inner inner-active-sidebar"
        [ngClass]="{'hidden-fixed-sidebar': pageStatus.menuStatus.status === 'close'}">
    <aside id="slide-out" class="side-nav white fixed" [hidden]="pageStatus.menuStatus.status === 'close'">
      <div class="side-nav-wrapper">
        <div class="sidebar-profile">
          <div class="sidebar-profile-image">
            <img [src]="account.imageUrl" class="circle" alt="">
          </div>
          <div class="sidebar-profile-info">
            <a href="javascript:void(0);" class="account-settings-link" (click)="onAccountSettingClick()">
              <p>{{account.name}}</p>
              <span>nianshang@foxmail.com<i class="material-icons right">arrow_drop_down</i></span>
            </a>
          </div>
        </div>
        <div class="sidebar-account-settings" [hidden]="pageStatus.accountSettingStatus === 'false'">
          <ul>
            <li class="no-padding">
              <a class="waves-effect waves-grey"><i class="material-icons">mail_outline</i>我的消息
                <span
                  class="new badge">18</span>
              </a>
            </li>
            <li class="no-padding">
              <a class="waves-effect waves-grey"><i class="material-icons">history</i>登录日志</a>
            </li>
            <li class="divider"></li>
            <li class="no-padding">
              <a class="waves-effect waves-grey"><i class="material-icons">exit_to_app</i>注销登录</a>
            </li>
          </ul>
        </div>
        <ul class="sidebar-menu collapsible collapsible-accordion" [hidden]="pageStatus.accountSettingStatus === 'true'" data-collapsible="accordion">
          <li class="no-padding">
            <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>所有应用<i
              class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a [routerLink]="['./earthermometer']">耳温计</a></li>
                <li><a href="">额温计</a></li>
                <li><a href="">温度贴</a></li>
                <li><a href="">凡米小豆</a></li>
              </ul>
            </div>
          </li>
          <li class="no-padding">
            <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">person</i>用户管理<i
              class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="">所有用户</a></li>
              </ul>
            </div>
          </li>
          <li class="no-padding"><a class="waves-effect waves-grey" [routerLink]="['./setting']"><i class="material-icons">settings</i>系统设置</a></li>
        </ul>
        <div class="footer">
          <p class="copyright">Steelcoders ©</p>
          <a href="#">Privacy</a> &amp; <a href="#">Terms</a>
        </div>
      </div>
    </aside>
    <div class="middle-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
