<div id="index-content">
  <div id="flipper" [@pageState]="pageState">
    <div class="login-page">
      <div id="piggy" [@pigRotate]="pigState" (@pigRotate.done)="onPigAnimationDone()" (mouseenter)="onPigHover()"></div>
      <div id="secondenter" [hidden]="actionLoginForm.get('password')?.value?.length < 6" (click)="onLoggedIn()"></div>
      <div id="wrapper">
        <div id="cube" [@enterState]="enterState">
          <form [formGroup]="actionLoginForm" autocomplete="off" novalidate>
            <div class="side" id="side1">
              <div id="backlogin"></div>
              <div id="enter" [hidden]="actionLoginForm.get('username')?.value?.length < 3" (click)="onUsernameEnterClick()"></div>
              <input class="frontforms" id="frontloginform" formControlName="username" name="username" placeholder="输入用户名" maxlength="10" type="text" autocomplete="true"/>
            </div>
            <div class="side" id="side2">
              <div id="backpassword"></div>
              <input class="frontforms" id="frontpasswordform" formControlName="password" name="password" maxlength="14" placeholder="输入密码" type="password" autocomplete="true"/>
            </div>
          </form>
        </div>
      </div>
      <div class="fliptext flipLogin" (click)="onFlipClick()">或 <a href="#">创建新账户</a></div>
    </div>
    <div class="register-page">
      <div id="franklin">
        <div class="avatar"></div>
      </div>
      <div id="createaccount"></div>
      <div class="fliptext flipReg" (click)="onFlipClick()">或 <a href="#">使用已注册账户</a></div>
      <div id="registrationforms">
        <form id="signup" [formGroup]="actionRegForm" (ngSubmit)="actionRegForm.valid && onRegister()" autocomplete="off" novalidate>
          <input class="backforms" formControlName="_username" name="reg_user_name"  placeholder=" 输入用户名" type="text"/><br>
          <input class="backforms" formControlName="_password" name="reg_user_password" placeholder=" 输入密码" type="password"/>
          <button class="regbutton" (ngDisabled)="isRequesting" type="submit" name="registration">立 即 注 册</button>
        </form>
      </div>
    </div>
  </div>
</div>
