#createaccount, #enter, #secondenter, #info, #backlogin, #backpassword {
  background: url("../../assets/images/1pagesprites.png") no-repeat;
  background-size: 650px 197px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
  #createaccount, #enter, #secondenter, #info, #backlogin, #backpassword {
    background: url("../../assets/images/1pagesprites@2x.png") no-repeat;
    background-size: 650px 197px;
  }
}

input::-ms-clear {
  display: none;
}

input[type='text'], input[type='password'], textarea {
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

*:focus {
  outline: 0 none transparent;
}

#index-content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 300px;
  height: 500px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

#flipper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transition: 1000ms;
  -moz-transition: 1000ms;
  -o-transition: 1000ms;
  transition: 1000ms;
  position: relative;
  overflow: visible;
}

.login-page, .register-page {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width: 300px;
}

.fliptext {
  position: absolute;
  text-transform: uppercase;
  left: 0;
  right: 0;
  height: 30px;
  font-size: 10px;
  color: #6e6e6e;
  line-height: 0.95em;
  display: inline-block;
  font-family: Arial, serif;
  background-color: white;
}

.fliptext a {
  color: #96bcce;
  text-decoration: none;
  border-bottom: 1px dashed #96bcce;
}

.fliptext a:hover {
  color: #7ba1b4;
  text-decoration: none;
  border-bottom: 1px dashed #7ba1b4;
}

.flipLogin {
  bottom: 90px;
}

.flipReg {
  bottom: -10px;
}

/**  登陆页面 */
.login-page {
  z-index: 2;
  height: 450px;
  background-color: white;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#piggy {
  display: block;
  background: url("../../assets/images/piggy_large.gif") no-repeat;
  background-size: 178px 178px;
  width: 178px;
  height: 178px;
  position: relative;
  margin: auto;
  z-index: 50;
}

#enter, #secondenter {
  -webkit-animation: enterarrow 2s infinite;
  -moz-animation: enterarrow 2s infinite;
  -o-animation: enterarrow 2s infinite;
  -ms-animation: enterarrow 2s infinite;
  animation: enterarrow 2s infinite;
  background-position: -190px -60px;
  margin-left: 222px;
  margin-top: 18px;
  width: 52px;
  height: 12px;
  position: absolute;
  cursor: pointer;
  z-index: 7;
}

#secondenter {
  position: absolute;
  top: 241px;
  z-index: 4;
}

#wrapper {
  display: block;
  font-size: 13px;
  color: black;
  position: absolute;
  top: 240px;
  width: 300px;
  height: 46px;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  perspective: 1100px;
  -ms-transform: rotate3d(1, 0, 0, 0);
  -webkit-transform-origin: 50% 46px 0;
  -moz-transform-origin: 50% 46px 0;
  -ms-transform-origin: 50% 46px 0;
  -o-transform-origin: 50% 46px 0;
  transform-origin: 10% 46px 0;
  z-index: 3;
}

#cube {
  position: absolute;
  width: 300px;
  height: 46px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.side {
  outline: 3px double #a6ccd9;
  text-indent: 15px;
  width: 300px;
  height: 46px;
  line-height: 48px;
  position: absolute;
}

#backlogin, #backpassword {
  display: block;
  position: absolute;
  left: 66px;
  top: 12px;
  border: 0 solid;
  width: 22px;
  height: 20px;
}

#backlogin {
  background-position: -250px -24px;
}

#backpassword {
  background-position: -250px 0;
}

#side1 {
  background: white -250px -24px;
  width: 300px;
  height: 46px;
}

#side2 {
  background-color: white;
  -webkit-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
  -moz-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
  -ms-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
  -o-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
  transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
}

input[id="frontloginform"] {
  border: 0 solid;
  margin-left: 20px;
  height: 25px;
  width: 110px;
}

input[id="frontpasswordform"] {
  border: 0 solid;
  margin-left: 25px;
  height: 25px;
  width: 95px;
}

input[class="frontforms"] {
  position: relative;
  color: #4c4c4c;
  font-family: Arial, serif;
  font-size: 15px;
}

input[class="backforms"]:focus {
  outline: none;
}

input[class="backforms"]::-webkit-input-placeholder {
  font-family: Arial, serif;
  font-size: 15px;
  color: #cdcdcd;
}

input[class="backforms"]:-ms-input-placeholder {
  font-family: Arial, serif;
  font-size: 15px;
  color: #cdcdcd;
}

input[class="backforms"]:-moz-placeholder {
  font-family: Arial, serif;
  font-size: 15px;
  color: #cdcdcd;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
}

input[class="frontforms"]::-webkit-input-placeholder {
  font-family: Arial, serif;
  font-size: 15px;
  color: #cdcdcd;
}

input[class="frontforms"]:-ms-input-placeholder {
  font-family: Arial, serif;
  font-size: 15px;
  color: #cdcdcd;
}

input[class="frontforms"]:-moz-placeholder {
  font-family: Arial, serif;
  font-size: 15px;
  color: #cdcdcd;
}

/* 注册页面 */
.register-page {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: white;
  z-index: 1;
  height: 500px;
}

#franklin {
  border: 1px solid #b9d6dc;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  margin: auto;
  width: 162px;
  height: 162px;

}

.avatar {
  background: url("../../assets/images/userpic.jpg") center center no-repeat;
  position: absolute;
  box-shadow: 0 0 0 5px white inset;
  width: 100%;
  height: 100%;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  background-size: 100% 100%;
}

#createaccount {
  background-position: -190px -80px;
  width: 134px;
  height: 44px;
  position: relative;
  margin: 24px auto auto;
}

.inputWrapper {
  top: -335px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  width: 180px;
  height: 180px;
  z-index: 3;
}

.hidden {
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.upload {
  -webkit-animation: plus 2s infinite;
  -moz-animation: plus 2s infinite;
  -o-animation: plus 2s infinite;
  -ms-animation: plus 2s infinite;
  animation: plus 2s infinite;
}

#registrationforms {
  position: relative;
  top: 36px;
  line-height: 3.3em;
}

.backforms {
  text-align: center;
  border: 1px solid #a6ccd9;
  color: #4c4c4c;
  font-family: Arial, serif;
  font-size: 15px;
  height: 30px;
  width: 296px;
}

.regbutton {
  cursor: pointer;
  position: relative;
  background-color: white;
  border: 0px solid;
  outline: 3px double #a6ccd9;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white;
  color: #6e6e6e;
}

.regbutton:hover {
  background-color: #f4f9fb;
}

.regbutton:active {
  background-color: #ecf3f6;
}

.regbutton {
  height: 34px;
  width: 195px;
  top: 18px;
  font-size: 11px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
  #piggy {
    background-image: url("../../assets/images/piggy_large@2x.gif");
  }
}

/* ENTER ARROW */

@-webkit-keyframes enterarrow {
  0% {
    left: 0px;
  }
  5% {
    left: -5px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: -5px;
  }
  35% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@-moz-keyframes enterarrow {
  0% {
    left: 0px;
  }
  5% {
    left: -5px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: -5px;
  }
  35% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@-o-keyframes enterarrow {
  0% {
    left: 0px;
  }
  5% {
    left: -5px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: -5px;
  }
  35% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@-ms-keyframes enterarrow {
  0% {
    left: 0px;
  }
  5% {
    left: -5px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: -5px;
  }
  35% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@keyframes enterarrow {
  0% {
    left: 0px;
  }
  5% {
    left: -5px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: -5px;
  }
  35% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
