/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~materialize-css/sass/components/color";

$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
$badge-height: 18px;
$sidenav-item-height: auto;
@import "~materialize-css/sass/materialize";
